$lineOfWining: rgb(28, 172, 76);
$borderColor: 1px solid rgb(233,233,233);
$menuColor: #36B98B;




//break points
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;