$lineOfWining: rgb(28, 172, 76);
$borderColor: 1px solid rgb(233,233,233);

@mixin direction($top,$left,$height,$transform){
  top:$top;
  left:$left;
  height: $height;
  transform: rotate($transform);
};

.square{
  background: none;
  border:$borderColor;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
  position: relative;
  overflow: hidden;
  font-family: 'Indie Flower', cursive;
  cursor: crosshair;
  color:#191654;
}

.wining-square::after{
  position: absolute;
  content: '';
  width: 2px;
  background-color: $lineOfWining;
}

.wining-square-1::after{
  @include direction(0,50%,100%,90deg);
}

.wining-square-2::after{
  @include direction(0,50%,100%,0deg);
}

.wining-square-3::after{
  @include direction(-17px,40px,190%,-45deg);
}

.wining-square-4::after{
  @include direction(-37px,40px,190%,45deg);
}

.square:focus {
  outline: none;
}