.square {
    /* background: rgba(255, 255, 255, 0.637); */
    background: none;
    /* border: 1px solid rgb(121, 121, 121); */
    border: 1px solid rgb(223, 223, 223);

    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    position: relative;
    overflow: hidden;
    font-family: 'Indie Flower', cursive;
    cursor: crosshair;
    color:#191654;
  }

  .wining-square::after{
    position: absolute;
    content: '';
    width: 2px;
    background-color: rgb(32, 172, 144);
  }
  
  .wining-square-1::after{
    top: 0;
    left: 50%;
    height: 100%;
    transform: rotate(90deg)
  }
  
  .wining-square-2::after{
    top: 0;
    left: 50%;
    height: 100%;
  }
  
  .wining-square-3::after{
    top: -17px;
    left: 40px;
    height: 190%;
    transform: rotate(-45deg);
  }
  
  .wining-square-4::after{
    top: -37px;
    left: 40px;
    height: 190%;
    transform: rotate(45deg);
  }
  
  .square:focus {
    outline: none;
  }